@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;

}

h2 {
    color: #bc568a !important;
}

#logo {
    width: 140px;
    height: 140px;
}

.menu {
    float: right;
    margin-left: 20%;
    font-size: 18px;
}

.espaco {
    margin-top: 90px !important;
    margin-left: 100px, rgba(255, 255, 0, 0.048);
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar {
    font-size: small;
}

.nav-item a {
    text-decoration: none;
    color: #d84f19;
    /* font-size: 16px; */
}

.nav-item a:hover {
    color: #E9DB34;
    transition: ease-in-out 0.5s;
}

.header-area {
    background-color: black;
    background: black;
    height: 160px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-area {
    background-color: black;
    background: black;
    height: 200px;
}

.footer-area a {
    text-decoration: none !important;
    color: #d84f19;
}

.footer-area a:hover {
    color: #E9DB34;
    transition: ease-in-out 0.5s;
}

.menu-footer a {
    margin-left: 100px;
}

.display-4 {
    color: #9C4623;
}


/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/

.card-container {
    margin-left: 100px;
}


.card {
    border: #e9db34 solid 1px !important;
    transition: ease-in-out 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.tituloCard {
    color: #9C4623;
    text-decoration: none !important;
}

.tituloCard h5:hover {
    color: #464b73 !important;
    transition: ease-in-out 0.5s;
}

#cartasEfeito {
    padding-bottom: 90px !important;
    background-color: #e9da3462
}

#compra-card {
    width: 100%;
    height: 50vh;
    background: url("../assets/img/yugi-background.gif") top center;
    background-size: cover;
    position: relative;
}

#compra-card h3, h4 {
    color: #bc568a;
    width: 204px;
    padding-top: 10px;
    border-radius: 20px;
}

#compra-card .valores {
    background-color: rgba(0 0 0 / 90%);
    height: 337px;
    border-radius: 20px;
    width: 541px;
    margin-left: -23px;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgb(19 41 88 / 90%), 0 6px 20px 0 rgb(233 219 52 / 90%);

}
#contato{
    background: url("../assets/img/yugi-home-5.jpg");
    padding-top: 77px;

}

#contato p{
    color:#e9db34 ;
}

#card-info{
    background-color: #332574;
    padding-top: 120px;


}

#card-info p{
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 0;

}

#card-info .type-card{
    border-radius: 12px;
    background-color: green;
    width: 109px;
    margin-bottom: 5px;
}

#card-info .effect-card{
    border-radius: 30px;
    background-color: purple;
    width: 500px;
    margin-top: 5px;
}

#card-info .type-card  .fa-dragon,
    .fa-paw,
    .fa-book-dead,
    .fa-hat-wizard{
    font-size: 34px;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn-info {
    background-color: black !important;
    color: white !important;
    border: #9C4623 solid 2px !important;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 90%), 0 6px 20px 0 rgb(128 0 128 / 90%);

}

.btn-info:hover {
    background-color: #e9db34 !important;
    color: rgb(0, 0, 0) !important;
    transition: ease-in-out 0.5s;
}


.btn {
    border-radius: 19px !important;
}




/*--------------------------------------------------------------
# Home 
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 84vh;
    background: url("../assets/img/yugi-home.png") top center;
    background-size: cover;
    position: relative;
}

#home .play-btn {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    background: radial-gradient(#e9db34 50%, rgba(233, 219, 52, 0.8) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
}

#home .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#home .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 3s;
    animation: pulsate-btn 3s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgb(233, 219, 52);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#home .play-btn:hover::after {
    border-left: 15px solid #bc568a;
    transform: scale(20);
}

#home .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

#home .player {
    margin-top: 300px;
    margin-left: 300px;

}

#home h2 {
    color: #bc568a !important;
    margin-bottom: 30px;
}

#home h4 {
    color: #E9DB34 !important;
    margin-bottom: 20px;
    width: 583px;

}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    margin-top: 90px;
    padding-bottom: 50px;
}

.team .member {
    border: #E9DB34 solid 1px;
    text-align: center;
    margin-bottom: 20px;
    background: #E9DB34;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
}

.team .member .social a:hover {
    color: #E9DB34;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
}

.team h2 {
    text-align: center;
}


/*--------------------------------------------------------------
  # F.A.Q
  --------------------------------------------------------------*/

.faq {
    background-color: #e9da3462
}

.faq .faq-list {
    padding: 0 100px;
    padding-bottom: 13px !important;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    border: #E9DB34 solid 1px;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #E9DB34;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #9C4623;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

.faq h2 {
    text-align: center;
}

faq h2 {
    text-align: center;
}